// import
@import "_meyerwebreset";
@import "_base";
@import "_mixin";

// include
// @include outline;
@include container;

// variable
$fb-color: #4460a0;
$twitter-color: #00aaec;
$primary-color: #00cc99;
$primary-bgc: #f6f6f6;
$success-color: #22b28e;

// 共用區
.mt-4rem {
  margin-top: 4rem;
}

.text-success {
  color: $success-color;
}

// 個別設定
.topbar {
  padding: 0.25rem;
  display: flex;
  justify-content: flex-end;
  background-color: $primary-bgc;
  li {
    padding: 0.25rem;
  }
  li + li::before {
    content: "|";
    color: #ccc;
    margin-right: 0.25rem;
  }
  a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .fb {
    color: $fb-color;
  }
  .twitter {
    color: $twitter-color;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: block;
    width: 224px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
  }

  .nav-menu {
    display: flex;
    a {
      padding: 0.7rem;
      display: block;
      color: $primary-color;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        color: red;
        transform: scale(1.2);
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  height: 354px;
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
  @include bg-cover;
  h2 {
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.course {
  display: flex;
  padding: 0.5rem;
  > li {
    flex: 1;
    margin: 1rem;
    line-height: 1.5;
    box-shadow: 0 5px 5px #ccc;
  }
  img {
    display: block;
    width: 100%;
    @include bg-center;
  }
  .txt {
    padding: 0.5rem;
    h3 {
      text-align: center;
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }
    p {
      padding: 0.5rem;
    }
  }

  .html5 {
    img {
      background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/html.png);
    }
  }
  .rwd {
    img {
      background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/rwd.png);
    }
  }
  .jquery {
    img {
      background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/jQuery.png);
    }
  }
  .feature {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 2rem;
    li {
      padding: 0.25rem;
    }
  }
}

.compare {
  th,
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #ccc;
  }
  h2 {
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    padding: 2rem;
  }
  table {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    text-align: left;
  }
  thead {
    background-color: $primary-bgc;
    font-weight: 600;
    border-top: 1px solid #ccc;
  }
}

.respond {
  background-image: linear-gradient(#00644b, #009872);
  h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    padding: 2rem;
  }
  form {
    display: flex;
    padding: 1rem;
    line-height: 1.5;
    .respond-info,
    .respond-msg {
      flex: 1;
      margin: 1rem;
    }
    textarea,
    label,
    input,
    button {
      font-size: 1.2rem;
      border-radius: 5px;
      border: none;
    }
    .respond-msg {
      padding: 1rem;
    }
    .respond-info {
      display: flex;
      flex-direction: column;
      label {
        color: #fff;
        margin-bottom: 0.5rem;
      }
      input {
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .respond-btn {
      align-self: flex-end;
      margin-top: 1rem;
      cursor: pointer;
      background-color: $primary-color;
      color: #fff;
      padding: 0.25rem 1rem;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        background-color: orange;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  .pic {
    img {
      display: block;
    }
  }
  .connection {
    li {
      padding: 0.5rem;
    }
    a {
      text-decoration: none;
      color: #e33b88;
    }
  }
}
